<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
  <test thread-count="5" name="Test">
	  
    <classes>
		
      <class name="main.firsttestngfile"/>
      
    </classes>
    
  </test> <!-- Test -->
  
</suite> <!-- Suite -->

<!--
	<test name= "Safari Test">
		<classes>
			<class name="q6">
				<methods>
					<include name="executeSessionOne"/>
				</methods>
			</class>
			</classes>
	</test>
	<test name= "Safari Test">
		<classes>
			<class name="q6">
				<methods>
					<include name="executeSessionTwo"/>
				</methods>
			</class>
			</classes>
	</test>
	<test name= "Safari Test">
		<classes>
			<class name="q6">
				<methods>
					<include name="executeSessionThree"/>
				</methods>
			</class>
			</classes>
	</test>
	-->